<?xml version="1.0"?>
<config>
	<name>
		<en>sample module</en>
		<ko>샘플 모듈</ko>
	</name>
	<version>0.2</version>
	<author>JaeHo Song</author>
	<email>thruthesky@gmail.com</email>
	<homepage>http://jaehosong.com</homepage>
	<demo>http://philgo.net</demo>
	<short>
		<en>This is sample module.</en>
		<ko>샘플 모듈입니다.</ko>
	</short>
	<detail>
		<en>This is sample module.</en>
		<ko>샘플 모듈입니다.</ko>
	</detail>
</config>
